# Configuration file

general {
    # Enable debug layers [default: false]
    B:enableDebugLayers=true
}


modules {
    # Enable JourneyMap module [default: true]
    B:enableJourneyMapModule=true

    # Enable Xaero's Minimap module [default: true]
    B:enableXaeroMinimapModule=false

    # Enable Xaero's World Map module [default: true]
    B:enableXaeroWorldMapModule=false
}


